*,
*::before,
*::after {
  box-sizing: border-box;
}

.main {
  max-width: 1200px;
  margin: 120 auto;
}

.cards {
  display: grid;
  grid-template-columns:repeat(auto-fit,minmax(400px,1fr));
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1.2rem;
}

.card_image {
  height: calc(13*1.2rem);
  padding: 1.2rem 1.2rem 0;
  position:relative;
}
.card_image:before,
.card_image:after{
  content: "";
  position: absolute;
  width: 20px;
  left: 60%;
  top: 0;
  height: 45px;
  background: #e6e6e6b8;
  transform: rotate(45deg);
}
.card_image:after{
  transform: rotate(-45deg);
  top:auto;
  bottom:-22px;
  left:40%;
}
.card_image img {
  width:100%;
  height:100%;
  object-fit:cover;
}

.cards_item {
  filter:drop-shadow(0 0 5px rgba(0, 0, 0, 0.25));
}


.card {
  background-color: white;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding-left: 30px;
  background: repeating-linear-gradient(#0000 0 calc(1.2rem - 1px),#66afe1 0 1.2rem) right bottom /100% 100%,linear-gradient(red 0 0) 30px 0/2px 100% #fff;
  background-repeat: no-repeat;
  line-height: 1.2rem;
  -webkit-mask:radial-gradient(circle .8rem at 2px 50%,#0000 98%,#000)0 0/100% 2.4rem;
}

.card_content {
  padding: 1.2rem;
}

h2.card_title,p {
  margin: 1rem 0;
  color: #000;
}
h2.card_title {
    font-size: 1.3em;
    color: #000;
}
body {
  font-family:monospace;
  background:#eee;
}

html {
  font-size:15px;
}

.button {
  display: inline-block;
  background: #000000;
  color: #cda45e;
  text-transform: uppercase;
  padding: 10px 13px;
  border-radius: 5px;
  box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  -webkit-transition: all ease-in-out 300ms;
  transition: all ease-in-out 300ms;
}
.button:hover {
  box-shadow: 0px 37px 20px -20px rgba(0, 0, 0, 0.2);
  -webkit-transform: translate(0px, -5px) scale(1.1);
  transform: translate(0px, -5px) scale(1.1);
}

.modal-content{
  color: black;
}


.modal-title{
  font-weight: bolder;
  text-align: center;
}


.modal-title p{
  font-size: 13px;
  color: #838383;
  font-weight: lighter;
}

.form-group{
  margin: 12px;
}

.form-group label{
  font-weight: bolder;
}

.form-group span{
  color: red;
}

.form-group-total{
  font-weight: bolder;
}

.modal-footer {
  font-weight: bolder;
  // margin: 12px;
}

.modal-footer span{
  font-size: 25px;
}

.wa{
  font-weight: bolder;
  text-align: left;
}

.btn.cls {
  border: 1px solid black;
}

.btn.sbt {
  background-color: #000;
  color: white;
}

.btn.sbt:hover {
  background-color: #000;
  color: #cda45e;
}

.close{
  background-color: white;
  border: none;
}