@import url('https://fonts.googleapis.com/css2?family=Alice&family=Nanum+Gothic&family=Roboto+Flex&display=swap');

.text-dan {
    background-color: rgb(255, 255, 0);
    font-size: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
    color: rgb(164, 154, 13);
    font-weight: bolder;
    border: none;
    border-radius: 15px;
  }
  
  .text-suc {
    background-color: #8aff8a;
    font-size: 15px;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 3px;
    padding-bottom: 3px;
    color: #2d9734;
    font-weight: bolder;
    border: none;
    border-radius: 15px;
  }

  .judul{
    color: rgb(255, 255, 255);
    font-size: 60px;
    font-family: 'Roboto Flex', sans-serif;
  }

  .judul span{
    font-family: 'Alice', serif;
  }

  .center {
    text-align: center;
  }

  thead th {
    border: none;
  }

  thead {
    color: #6c6c6c;
  }

  tbody tr{
    border-color: #6c6c6c;
  }

  tbody td{
    border-color: #6c6c6c;
  }

  tbody:before {
    content: '';
    display: block;
    height: 30px;
  }

  tbody:after {
    content: '';
    display: block;
    height: 30px;
  }

  .tgl-p{
    color: rgb(255, 255, 255); 
    width: 30%;
    padding-top: 10px; 
    padding-bottom: 10px;
    background-color: #5360ff;
    border-radius: 10px;
  }

  .tgl-pp{
    color: rgb(255, 255, 255); 
    width: 30%;
    padding-top: 10px; 
    padding-bottom: 10px;
    background-color: #cda45e;
    border-radius: 10px;
  }

  