/* not active */
.nav-item-pill-1 .nav-link:not(.active) {
    background-color: rgb(255, 255, 255);
}

.nav-item .pill-2 .nav-link:not(.active) {
    background-color: black;
}

.nav-item .pill-3 .nav-link:not(.active) {
    background-color: black;
}


/* active (faded) */
.nav-item-pill-1 .nav-link {
    background-color: #f3f4fb;
    padding: 15px;
}

.nav-item .pill-2 .nav-link {
    background-color: #2c3136;
}

.nav-item .pill-3 .nav-link {
    background-color: #2c3136;

}

.nav-pills .nav-link.active {
    background-color: #f3f4fb;
    width: 93%;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;

  }
  
.nav-link[data-toggle].collapsed:after {
    content: " ▾";
}
.nav-link[data-toggle]:not(.collapsed):after {
    content: " ▴";
}
